* {
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p {
    color: rgb( 56, 56 ,56);
}

body {
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

li {
    list-style: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: rgb( 56, 56 ,56);
    font-size: 1.2rem;
}

a:hover {
    color: rgb(255, 255, 255);

}
/* Header */

Header {
    position: relative;
    padding: 0 4rem;
}

::-webkit-scrollbar {
    width:8px;
}

::-webkit-scrollbar-thumb {
    background:rgb(56, 56, 56);
    border-radius:6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.nav {
    width:100% ;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav .links{
    display: flex;
    gap:3rem;
    padding: 5rem;
}

.nav li a{
  display: block;
  padding: 10px 20px;
  transition: all 0.2s linear;
}

/* Content */

.intro {
    height: 920px;
    background-color: rgb(230, 230, 230);
}

.intro2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
}

.bryan {
    background-image: url(/images/mob.png);
    background-size: cover;
    height: 500px;
    width: 500px;
    margin-top: 150px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border:4px solid rgb( 56, 56 ,56);
    border-color: rgb( 56, 56 ,56);
}

.small {
    font-weight: 100;
}

.background {
    background: rgb(220, 220, 220);;
}

.about {
    background-color: rgb(220, 220, 220);
    height: 980px;
}

.about2 {
    display: flex;
}

.about2 h3 {
    font-size: 50px;
    flex-grow: 1;
}